/*--------------------------------------------------
 Name: TBC
 Version: 0.1
 Author: M1ld
 Website:
 Purchase:
 Support:
 License:
 Copyright 2026.
 --------------------------------------------------*/
div.container-bg {
    background-image: url("Website/main/assets/images/bg-fixed-2.jpg"); /* Path to your image */
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Fixed position when scrolling */

    border: 2px solid black; /* Optional border */
    min-height: 100vh;
    min-width: 100vw; /* Set width */
    padding: 5px;
    margin: -7px;
}
div.container-main {
    background-color: rgba(0, 0, 0, 0.5); /* Blue with 50% transparency */
    min-height: 100vh;
    padding: 5px;
    margin: 35px;
}
ul.nav {
    list-style-type: none; /*Remove Bullet Points*/
    padding: 5px;
    margin: 0px;
}
li.nav {
    display: inline-block;
}

a.nav {
    text-decoration: none;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
}
.button:hover {
    background-color: #c2c7c7;
}

div.nav {
    background-color: #2C2F33;
    display: flex;
    align-items: center;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1px;
    margin-top: 1px;
}
/* Base */
body {
    color: darkgrey; /* Set text color to white */
    background-color: black; /* Set background color for contrast */
}
/*Release Date*/
.release-date {
    display: flex; /* Align items horizontally */
    align-items: center; /* Center vertically */
    font-size: 16px; /* Font size */
    color: #fff; /* Text color */
}
.calendar-icon {
    margin-right: 5px; /* Space between icon and text */
    font-size: 20px; /* Icon size */
}
.gap {
    margin: 20px 0; /* Vertical gap of 20px */
}
.inline-heading {
    display: inline-block; /* Makes the headings inline */
    margin-right: 20px;   /* Adds space between the headings */
}
